@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 1080px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: calc(100% - 20px);
  }
}

body {
  font-family: 'IBM Plex Sans';
}

p {
   font-size: 1em;
}

h1 {
  font-family: 'Roboto';
}

h1:hover::after {
  content: ' #';
  color: blue;
}

pre {
  overflow-x: auto;
}

.highlight-line {
  background-color: rgba(205, 74, 151, 0.123); /* Set highlight bg color */
  border-left: 4px solid rgb(246, 59, 81); /* Set highlight accent border color */
}
